.text--op-light {
  opacity: 75%;
}

.font--sz-small {
  font-size: 0.8rem;
}

.font--sz-medium {
  font-size: 1rem;
}

.font--c-yellow {
    color: #F3CD03;
  }

.bg--c-Calypso {
    background-color: #295C7A;
  }

ul {
  list-style: none;
  padding: 0;
}

.video__container {
  max-width: 1440px;
  width: 80%;
}

.video-container-heading {
  margin: auto;
  width: 60%;
}

.video__thumbnail-div {
  background-image: url('../images/thumbnail.png');
  background-size: cover;
}

.video__thumbnail-div > button {
  border-radius: 50%;
  border: none;
  cursor: pointer;
  padding: 20px;
}

.video__thumbnail-div > img {
    height: -webkit-fill-available;
  }

.carousel__container {
    margin: auto;
    max-width: 1360px;
  }

.carousel__items {
    border-radius: 3px;
    max-width: 400px;
    margin: 0 auto;
    position: relative;
  }

.carousel__items-avatar {
  border-radius: 50%;
  height: 50px;
  left: -30px;
  position: absolute;
  top: 20px;
  width: 50px;
}